---
import { Image } from "astro:assets";
import Video from "../Video.astro";
import Scripture from "../Scripture.astro";
import img62 from "../../assets/images/62.gif";
import img63 from "../../assets/images/63.jpg";
import img64 from "../../assets/images/64.jpg";
import img65 from "../../assets/images/65.jpg";
import img66 from "../../assets/images/66.jpg";
import img67 from "../../assets/images/67.jpg";
import img68 from "../../assets/images/68.jpg";
import img69 from "../../assets/images/69.jpg";
import img70 from "../../assets/images/70.jpg";
import img71 from "../../assets/images/71.png";
import img72 from "../../assets/images/72.jpg";
import img73 from "../../assets/images/73.png";
import img74 from "../../assets/images/74.png";
import img75 from "../../assets/images/75.jpg";
import img76 from "../../assets/images/76.jpg";
import img77 from "../../assets/images/77.jpg";
import img78 from "../../assets/images/78.jpg";
---

<article class="py-4 leading-loose" id="hermeticism">
    <h1 class="text-3xl mb-4 font-bold">
        On Hermeticism/Hermes Trismegistus with Crusader Mike DeVries
    </h1>
    <section class="space-y-4">
        <p>
            Hermes Trismegistus is the syncretic combination of Hermes and Thoth
            <br class="hidden md:block" />
            Mike DeVries and I never miss a chance to duel the fallen angelic Watchers.
        </p>

        <div class="flex flex-row lg:w-3/4">
            <Image
                src={img62}
                alt="Image 62"
                loading="lazy"
                class="w-2/5 object-cover"
            />
            <Image src={img63} alt="Image 63" loading="lazy" class="w-1/5" />
            <Image src={img64} alt="Image 64" loading="lazy" class="w-1/5" />
            <Image
                src={img65}
                alt="Image 65"
                loading="lazy"
                class="w-1/5 object-cover"
            />
        </div>

        <p>
            Grab your Cepher.
            <br class="hidden md:block" />

            I’ll grab my Orthodox Study Bible. The OSB has a Septuagint Old
            Testament and New King James Version New Testament.
            <br class="hidden md:block" />

            It’s a nice pick up.
            <br class="hidden md:block" />
            We gotta tell all the human watchers of evil brother.
        </p>

        <Video
            src="https://www.youtube.com/embed/fnl7eH6tPH8?si=EYaXfWj0Dr5Cqw5k"
        />

        <p>
            I’ll show the reader how you can identify an attack on the Trinity.
            <br class="hidden md:block" />

            The enemies of God always have to tell you because of Divine Law.
            <br class="hidden md:block" />

            Sometimes it’s even hidden in the name.
            <br class="hidden md:block" />
            Hermes Trismegistus is the writer of the Emerald Tablets.
            <br class="hidden md:block" />

            But the truth is revealed quite literally in the name.
            <br class="hidden md:block" />
            This loser Hermes Trismegistus calls himself three times great.
        </p>

        <div class="flex flex-row lg:w-3/4">
            <Image
                src={img66}
                alt="Image 66"
                loading="lazy"
                class="w-2/5 object-cover"
            />
            <Image
                src={img67}
                alt="Image 67"
                loading="lazy"
                class="w-3/5 object-cover"
            />
        </div>

        <p>
            You’ll also note more serpents.
            <br class="hidden md:block" />
            And that Emerald Tablet. The Bible is the only book which offers eternal
            life.
            <br class="hidden md:block" />
            Let’s hear what author Manly P. Hall has to say
        </p>

        <Image
            src={img68}
            alt="Image 68"
            loading="lazy"
            class="md:w-1/2 lg:w-1/3 object-cover"
        />

        <p>
            I am what happens when fanatic zealotry meets enlightenment and love
            and understanding.
            <br class="hidden md:block" />
            I would die joyfully for my faith because of my understanding.
        </p>

        <Scripture
            verses="2 Maccabees 7:1-2"
            heading="A Mother and Her Sons Die for Their Faith"
            chapter="7"
            text="<p class='inline'>On another occasion a Jewish mother and her seven sons were arrested. The king was having them beaten to force them to eat pork. 2 Then one of the young men said,</p> <p> What do you hope to gain by doing this? We would rather die than abandon the traditions of our ancestors. </p>"
        />

        <p>
            (Note: Jesus fulfilled the law. You can eat pork if you're a
            Christian.)
        </p>

        <Scripture
            verses="Sirach 2:18"
            text="<p>18 We place our destiny in the hands of the Lord, not in human hands, because his mercy is as great as his majesty.</p>"
        />

        <Scripture
            verses="Baruch 3:9-14"
            heading="In Praise of Wisdom"
            text="<p> 9 Listen, Israel, to the commands that promise life; pay attention, and you will become wise. 10 Why is it, Israel, that you find yourself in an enemy land? Why have you grown old in a foreign country? You are ritually unclean, like the dead; 11 you are already counted among the dead. But why? 12 It is because you have left the source of Wisdom! 13 If you had walked in God's ways, you would have lived in peace forever. 14 Learn where understanding, strength, and insight are to be found. Then you will know where to find a long and full life, light to guide you, and peace. </p>"
        />

        <Scripture
            verses="Sirach 1:25-30"
            heading="Wisdom and Reverence for God"
            text="<p class='inline'> 25 Wisdom has a treasury of wise sayings, but sinners have nothing but contempt for godliness. 26 If you want to be wise, keep the Lord's commands, and he will give you Wisdom in abundance. 27 Fearing the Lord is Wisdom and an education in itself. He is pleased by loyalty and humility. 28 Be faithful in the practice of your religion; when you worship the Lord, do it with all your heart. 29 Be careful about what you say, and don't be a hypocrite. 30 Don't be arrogant; you may suffer a fall and be disgraced. The Lord will reveal your secrets and humble you in front of everyone in the synagogue, because you did not come there with reverence for the reverence for the Lord, but with a heart full of hypocrisy.</p>"
        />

        <p>
            Let's take a look at where Hermes descended, or rather fell.
            <br class="hidden md:block" />

            Third century Christians had 'em carved out quite literally. Thanks
            for the assist.
        </p>

        <div>
            <p><strong>"The God of Mount Hermon was Baal-Hermon"</strong></p>
            <div class="flex flex-row">
                <Image
                    src={img69}
                    alt="Image 69"
                    loading="lazy"
                    class="w-1/5 object-cover"
                />
                <Image
                    src={img70}
                    alt="Image 70"
                    loading="lazy"
                    class="w-4/5 object-cover"
                />
            </div>
        </div>
    </section>
</article>
