---
import { Image } from "astro:assets";
import Video from "../Video.astro";
import img62 from "../../assets/images/62.gif";
import img63 from "../../assets/images/63.jpg";
import img64 from "../../assets/images/64.jpg";
import img65 from "../../assets/images/65.jpg";
import img66 from "../../assets/images/66.jpg";
import img67 from "../../assets/images/67.jpg";
import img68 from "../../assets/images/68.jpg";
import img69 from "../../assets/images/69.jpg";
import img70 from "../../assets/images/70.jpg";
import img71 from "../../assets/images/71.png";
import img72 from "../../assets/images/72.jpg";
import img73 from "../../assets/images/73.png";
import img74 from "../../assets/images/74.png";
import img75 from "../../assets/images/75.jpg";
import img76 from "../../assets/images/76.jpg";
import img77 from "../../assets/images/77.jpg";
import img78 from "../../assets/images/78.jpg";
---

<article class="py-4 leading-loose" id="hermeticism">
    <h1 class="text-3xl mb-4 font-bold">
        On Hermeticism/Hermes Trismegistus with Crusader Mike DeVries
    </h1>
    <section class="space-y-4">
        <p>
            Hermes Trismegistus is the syncretic combination of Hermes and Thoth
            <br class="hidden md:block" />
            Mike DeVries and I never miss a chance to duel the fallen angelic Watchers.
        </p>

        <div class="flex flex-row md:w-3/4">
            <Image
                src={img62}
                alt="Image 62"
                loading="lazy"
                class="w-2/5 object-cover"
            />
            <Image src={img63} alt="Image 63" loading="lazy" class="w-1/5" />
            <Image src={img64} alt="Image 64" loading="lazy" class="w-1/5" />
            <Image
                src={img65}
                alt="Image 65"
                loading="lazy"
                class="w-1/5 object-cover"
            />
        </div>

        <p>
            Grab your Cepher.
            <br class="hidden md:block" />

            I’ll grab my Orthodox Study Bible. The OSB has a Septuagint Old
            Testament and New King James Version New Testament.
            <br class="hidden md:block" />

            It’s a nice pick up.
            <br class="hidden md:block" />
            We gotta tell all the human watchers of evil brother.
        </p>

        <Video
            src="https://www.youtube.com/embed/fnl7eH6tPH8?si=EYaXfWj0Dr5Cqw5k"
        />

        <p>
            I’ll show the reader how you can identify an attack on the Trinity.
            <br class="hidden md:block" />

            The enemies of God always have to tell you because of Divine Law.
            <br class="hidden md:block" />

            Sometimes it’s even hidden in the name.
            <br class="hidden md:block" />
            Hermes Trismegistus is the writer of the Emerald Tablets.
            <br class="hidden md:block" />

            But the truth is revealed quite literally in the name.
            <br class="hidden md:block" />
            This loser Hermes Trismegistus calls himself three times great.
        </p>

        <div class="flex flex-row md:w-2/3 lg:w-1/2">
            <Image
                src={img66}
                alt="Image 66"
                loading="lazy"
                class="h-64 w-1/3 object-cover"
            />
            <Image
                src={img67}
                alt="Image 67"
                loading="lazy"
            />
        </div>
    </section>
</article>
