---
import Link from "../Link.astro";
import { Image } from "astro:assets";
import img1 from "../../assets/images/1.jpg";
import img2 from "../../assets/images/2.jpg";
import img3 from "../../assets/images/3.png";
import img4 from "../../assets/images/4.png";
import img5 from "../../assets/images/5.png";
import img6 from "../../assets/images/6.jpg";
import img7 from "../../assets/images/7.jpg";
import img8 from "../../assets/images/8.jpg";
import img9 from "../../assets/images/9.jpg";
import img10 from "../../assets/images/10.jpg";
import img11 from "../../assets/images/11.jpg";
import img12 from "../../assets/images/12.jpg";
import img13 from "../../assets/images/13.gif";
import img14 from "../../assets/images/14.jpg";
---

<article class="py-4 leading-loose" id="introduction">
    <h1 class="text-3xl mb-4 font-bold">Introduction</h1>
    <section class="space-y-4">
        <p>I want to serve others. This is my expanded statement of purpose.</p>
        <p class="">
            Special thanks to my brother in Christ
            <Link href="https://x.com/DanielvsBabylon" newTab="true">
                <span class="whitespace-nowrap">Daniel vs Babylon</span>
            </Link>
        </p>
        <Link href="https://x.com/DanielvsBabylon" newTab="true">
            <Image
                src={img1}
                alt="Image"
                loading="eager"
                width="200"
                height="200"
                class="mt-2"
            />
        </Link>
        <p>To all who are Abused and Broken,</p>
        <p class="">
            This is my Crusade of Love. <br />
            My objective is to show there is no truth outside of Jesus Christ. <br
                class="hidden md:block"
            />
            My sword is a letter to all who consider themselves Abused and Broken.<br
                class="hidden md:block"
            />
            I know such pain can lead away from Jesus Christ. This is my reply. <br
                class="hidden md:block"
            />
            I'm ready and fit for service to answer the call.<br
                class="hidden md:block"
            />
            I addressed many different religions because I'm crazy in love enough
            to write such a response.<br class="hidden md:block" />
        </p>

        <Image
            src={img2}
            alt="Image"
            loading="lazy"
            width="250"
            height="250"
            class=""
        />
        <p class="">
            I'll tell the reader my first name because through it I can tell you
            a miracle. <br class="hidden md:block" />
            My first name is Zachary. <br class="hidden md:block" />
            The first time I randomly decided to enter an Eastern Orthodox Church
            was February 6, 2022.<br class="hidden md:block" />
            But this turned out to not just be any Sunday.<br
                class="hidden md:block"
            />
            This Sunday was the Sunday of the Apostle Zacchaeus of the Seventy.
        </p>

        <Image
            src={img3}
            alt="Image"
            loading="lazy"
            width="500"
            class="w-full md:w-2/4 lg:w-1/3"
        />

        <p>
            This was the first of countless miracles the Lord has now worked in
            my life.
        </p>

        <p>I am Zachary vs Revelation.</p>

        <Image src={img4} alt="Image" loading="lazy" width="250" class="" />

        <p>"Oh Revelation, I can feel it coming like a dark train running."</p>

        <iframe
            src="https://www.youtube.com/embed/Yk6YPFCUaqA?si=5BEI-SA57ylsK_wo"
            title="YouTube video player"
            class="w-full lg:w-2/3 aspect-video"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
            loading="lazy"
        >
        </iframe>

        <p>
            I wrote this letter so I could testify for Christ even while I
            sleep. <br class="hidden md:block" />
            I want to be 24/7 serving the Most High God in as many places as I can.
            <br class="hidden md:block" />
            This is my worldwide mission trip for Jesus Christ. <br
                class="hidden md:block"
            />
            I made this letter a modern picture book for people with level 1 faith.
            <br class="hidden md:block" />
            I showed the evil that exists in the darkest of dungeons to help you
            become a level 99 dragonknight. <br class="hidden md:block" />
            To accomplish this transformation, <br class="hidden md:block" />
            I wrote a prayer to show the faith in its beauty. You can learn much
            from prayer. <br class="hidden md:block" />
            I then used the Bible and Apocrypha while addressing other faiths and
            beliefs with memes.
        </p>

        <Image src={img5} alt="Image" loading="lazy" class="w-1/2 lg:w-1/3" />

        <p>
            I turned the key of religion for you as best I could with logic,
            literature, and language. <br class="hidden md:block" />
            You will never again say the Bible is boring. You just don't know what
            you're reading. <br class="hidden md:block" />
            I tried my best to include everyone in this letter because the door is
            open for all.<br class="hidden md:block" />
            I tried my best to make this letter highly informative.<br
                class="hidden md:block"
            />
            I also worked hard to make it as entertaining as possible too.<br
                class="hidden md:block"
            />
            So come read my letter and increase in faith through the power of memes
            and language.<br class="hidden md:block" />
            I want to help forge strong Christians in honor of St. Porphyrios of
            Kafsokalyvia.<br class="hidden md:block" />
            St. Porphyrios was a man who battled the princes of evil as a child like
            St. Marina of Antioch.<br class="hidden md:block" />
            A man so humble that he ever sought to magnify the Most-Pure Ever-Virgin
            Mary.<br class="hidden md:block" />
            A man so Wounded by Love that he wanted to bring everyone to Jesus Christ.<br
                class="hidden md:block"
            />
            I dedicate this coloring book to the man who inspired me to paint my
            Crusade with pictures.<br class="hidden md:block" />
        </p>

        <div class="flex flex-row md:w-2/3 lg:w-1/2">
            <Image
                src={img6}
                alt="Image"
                loading="lazy"
                class="h-40 sm:h-60 md:h-72 object-cover"
            />
            <Image
                src={img7}
                alt="Image"
                loading="lazy"
                class="h-40 sm:h-60 md:h-72 object-cover"
            />
            <Image
                src={img8}
                alt="Image"
                loading="lazy"
                class="h-40 sm:h-60 md:h-72 object-cover"
            />
        </div>

        <p>
            I know that pain can cloud reality and dull the focus but you still
            must know.<br class="hidden md:block" />
            JESUS CHRIST DIED AND ROSE AGAIN ON THE THIRD DAY!!!<br
                class="hidden md:block"
            />
            Jesus Christ is the King of kings, Lord of lords, God of gods, and God
            of all ages.<br class="hidden md:block" />
            If you accept this, you can stop reading and go check out the Akathist
            prayers section.<br class="hidden md:block" />
            But if you disagree or need a better foundation, please stick around
            and draw between the lines of my coloring book.<br
                class="hidden md:block"
            />
            I am writing this because the Archangel Raphael says, "The things God
            does should be told to everyone."<br class="hidden md:block" />
            I write to every one of you because Jesus Christ is the Truth, the Life,
            and the Way to eternal life. <br class="hidden md:block" />
            I wrote this book to take you from zero to hero through understanding
            what is offered in Jesus Christ.<br class="hidden md:block" />
        </p>

        <div class="flex flex-row md:w-2/3">
            <Image
                src={img9}
                alt="Image"
                loading="lazy"
                class="h-20 sm:h-28 md:h-44 object-cover"
            />
            <Image
                src={img10}
                alt="Image"
                loading="lazy"
                class="h-20 sm:h-28 md:h-44 object-cover"
            />
            <Image
                src={img11}
                alt="Image"
                loading="lazy"
                class="h-20 sm:h-28 md:h-44 object-cover"
            />
        </div>

        <p>
            This is a picture book on light and darkness for modern day
            faithholders that don't have understanding.<br
                class="hidden md:block"
            />
            This is my deed of daring for the hearts of all who pursue religions
            other than Christianity.<br class="hidden md:block" />
            I write as one who has been greatly tested, but never stopped getting
            back up again.<br class="hidden md:block" />
            It's important to put your faith in Jesus Christ every day so you can
            have no fear.<br class="hidden md:block" />
            It's important to put your faith in Christ so Jesus can help draw beautiful
            little lines everywhere in your life.<br class="hidden md:block" />
        </p>

        <Image
            src={img12}
            alt="Image"
            loading="lazy"
            class="w-full md:w-2/4 lg:w-1/3"
        />

        <p>
            Jesus Christ is simply my everything. <br class="hidden md:block" />

            I'm abused and broken but I've already been paid in full by the
            Eternal King. <br class="hidden md:block" />

            I only care about leading people to Jesus Christ. <br
                class="hidden md:block"
            />

            I mean all when I say I write for all, but I was tasked with
            bringing the forgotten, abused and broken to the Christian faith. <br
                class="hidden md:block"
            />

            So, I'm here to help. I gave everything I had. <br
                class="hidden md:block"
            />

            I am nothing but I want everyone to come to Christ. <br
                class="hidden md:block"
            />

            To all those who go forth and utter "Jesus isn't King." <br
                class="hidden md:block"
            />

            That's a big oof there. <br class="hidden md:block" />
            In fact, it's the oof of all oofs. <br class="hidden md:block" />
        </p>

        <Image
            src={img13}
            alt="Image"
            loading="lazy"
            class="w-full md:w-2/4 lg:w-1/3"
        />

        <p>
            I carry a bow that shoots arrows of love for Jesus Christ wherever I
            go. <br class="hidden md:block" />
            Jesus assumed and conquered the sin of all so my bow shoots for all.
            <br class="hidden md:block" />
        </p>

        <Image
            src={img14}
            alt="Image"
            loading="lazy"
            class="w-full md:w-2/4 lg:w-1/3"
        />

        <p>
            Love wasn't put into your heart to stay. Love isn't love till you
            give it away.<br class="hidden md:block" />

            I never judge because judgement is reserved for the Son alone. <br
                class="hidden md:block"
            />

            The more I write the more of myself I try to remove. <br
                class="hidden md:block"
            />

            I must always decrease and Jesus must always increase. <br
                class="hidden md:block"
            />
        </p>
    </section>
</article>
