---
import { Image } from "astro:assets";
import Letter from "../Letter.astro";
import Link from "../Link.astro";
import img34 from "../../assets/images/34.jpg";
import gif1 from "../../assets/gifs/Roosh gif.gif";
import img35 from "../../assets/images/35.jpg";
import img36 from "../../assets/images/36.png";
import img36a from "../../assets/images/36.jpg";
import img37 from "../../assets/images/37.png";
import img37a from "../../assets/images/37.jpg";
import img37b from "../../assets/images/37b.png";
import gif2 from "../../assets/gifs/john-jonah-jameson-lol.gif";
import img37c from "../../assets/images/37c.png";
import img38 from "../../assets/images/38.png";
import img39 from "../../assets/images/39.png";
import img40 from "../../assets/images/40.png";
import img41 from "../../assets/images/41.png";
import img42 from "../../assets/images/42.png";
import img43 from "../../assets/images/43.png";
import img44 from "../../assets/images/44.png";
import img45 from "../../assets/images/45.png";
import img46 from "../../assets/images/46.png";
import img47 from "../../assets/images/47.png";
import img48 from "../../assets/images/48.jpg";
import img49 from "../../assets/images/49.jpg";
import img50 from "../../assets/images/50.jpg";
---

<article class="py-4 leading-loose" id="islam">
    <h1 class="text-3xl mb-4 font-bold">
        On Islam with Crusader <Link
            href="https://www.youtube.com/@shamounian"
            newTab={true}>Sam Shamou</Link
        >
    </h1>
    <section class="space-y-4">
        <p>
            <h1 class="font-semibold text-lg">
                I write to honor my Patron Saint St. Zacharias the Holy New
                Martyr.
            </h1>
            I pray this project leads many Muslims to Jesus Christ in honor of him.
        </p>

        <Image
            src={img34}
            alt="The Holy New Martyr Zachariah"
            loading="lazy"
            class="w-1/3 md:w-1/4 lg:w-1/5 object-cover"
        />

        <Letter header="" subheading="">
            <span
                >The Holy New Martyr Zachariah was from the Peloponnesos in
                Greece. He renounced Christ to become a Moslem, then went to
                ancient Patras and worked there as a furrier. He had a book, The
                Salvation of Sinners, which he often read. The book moved him to
                repentance, and he wept bitterly for the great evil he had done.</span
            >

            <span
                >Saint Zachariah met a certain Elder and told him of his sin.
                After praying and fasting for twenty days, he returned to the
                Elder and confessed all the sins he had committed during his
                life. When he asked the Elder's blessing to seek martyrdom, the
                holy man tried to discourage him. He warned that he might not be
                killed swiftly, but only after much torture. He also pointed out
                the danger that Zachariah would betray Christ a second time
                under the torments he would endure. The saint, aflame with zeal
                for martyrdom, said he was prepared to suffer myriad punishments
                for the sake of Christ.</span
            >

            <span
                >The Elder read the prayers of absolution and chrismated the
                saint (as is done when apostates from the Faith are received
                back into the Church), then administered the Holy Mysteries to
                him. Then he blessed Zachariah to go back to the Moslems and
                declare his faith in Christ. On his way, the saint asked
                forgiveness from each Christian he met.</span
            >

            <span
                >The holy martyr went to the judge's house and said that he had
                been deceived when he accepted their religion, but now he had
                come to his senses and returned to Christ. Saint Zachariah was
                thrown into prison, where he was beaten three times a day.</span
            >

            <span
                >Finally, the saint died by being stretched out on a rack.
                Christians asked for his body so they might bury it, but the
                Muslims refused. They said, "He is neither one of you, nor one
                of us, for he denied both religions. Therefore, he is unworthy
                of burial." His body was dragged through the streets and thrown
                into a dry well, landing on its knees in an upright position.
                Christians saw a radiant light over the well the next night, and
                hastened to venerate the saint. The Turks filled the well with
                dirt and debris to prevent such gatherings in the future.</span
            >

            <span
                >By shedding his blood, the holy New Martyr Zachariah washed
                away the sin of his denial of Christ and received an unfading
                crown of glory in the year 1782.</span
            >
        </Letter>

        <p>
            This is the look we Christ Crusaders get when someone goes "Maybe
            it's Allah?"
        </p>

        <div class="flex flex-row lg:w-2/3">
            <Image
                src={gif1}
                alt="Roosh reaction GIF"
                loading="lazy"
                class="w-2/3 object-cover"
            />
            <Image
                src={img35}
                alt="sam shamoun"
                loading="lazy"
                class="w-1/3 object-cover"
            />
        </div>

        <p>
            Halal Hogan always knows how to lead everyone to the truth of Christ
        </p>

        <iframe
            src="https://www.youtube.com/embed/2xZ0KSWaDGY?si=6YMABGf_K9Fv9Vqc"
            title="YouTube video player"
            class="w-full lg:w-2/3 aspect-video"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
            loading="lazy"></iframe>

        <p>
            To begin I'll honor the Desert Dwellers of the Ancient Christian
            Faith, <br class="hidden md:block" /> Desert-dwellers acquire divine
            eros by distancing themselves from all earthly temptations that would
            prevent any other love from coming between them and God. It is this divine
            eros that gives them wings to fly up to God.
            <br class="hidden md:block" /> St. Onuphrius is just one example of countless.
        </p>

        <Image
            src={img36}
            alt="Saint John"
            loading="lazy"
            class="w-1/2 md:w-1/3"
        />

        <p>
            The venerable Desert Hermits, Elders, and Ascetics of early
            Christendom gave powerful testimony of Christ.
            <br class="hidden md:block" />

            Many were delivered the Eucharist every week by the Lord's Holy
            Angels due to their remote isolation. <br class="hidden md:block" />

            And they were not deceived by false angels of light pretending to be
            Gabriel like a certain false prophet named Muhammad.
        </p>

        <Image
            src={img37}
            alt="muhammad first revelation"
            loading="lazy"
            class="w-full md:w-3/4"
        />

        <p>
            Muhammad broke the first rule of Fight Club. <br />

            Muhammad didn't test and make the spirit say Christ is Lord.
            <br class="hidden md:block" />

            And then he learned information that wasn't from Christ.
            <br class="hidden md:block" />

            Because it wasn't Gabriel bringing that message.
            <br class="hidden md:block" />

            Whoops. Tough rule to forget.
        </p>

        <iframe
            src="https://www.youtube.com/embed/mYU2O8pGXos?si=Hn9icGeAPMCOJ4NM"
            title="YouTube video player"
            class="w-full lg:w-2/3 aspect-video"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
            loading="lazy"></iframe>

        <p>
            Muhammad had some impressive knowledge about Christ to claim he was
            just a prophet. <br class="hidden md:block" />

            Somehow learned more than St. Simeon the Stylite who prayed for 37
            years atop a pillar for example.
        </p>

        <Image
            src={img36a}
            alt="St. Simeon the Stylite"
            loading="lazy"
            class="w-1/2 sm:w-1/3 md:w-1/4"
        />

        <p>
            Apparently knew more than all the ascetics and martyrs and Church
            Fathers who came before him in the timeline.
            <br class="hidden md:block" />

            Testimony that was etched in blood and sacrifice from all kinds of
            peoples from all places and tribes.
        </p>

        <Image
            src={img37b}
            alt="muhammad first revelation"
            loading="lazy"
            class="w-full md:w-3/4"
        />

        <p>
            Don't you just love when you meet an "angel" in a cave who shakes
            you violently and says "Christ isn't King."
        </p>

        <Image
            src={gif2}
            alt="John Jonah Jameson lol"
            loading="lazy"
            class="w-1/2 sm:w-1/3 md:w-1/4"
        />

        <p>Even Muhammad was unsure if the message was from God (it wasn't)</p>

        <Image
            src={img37c}
            alt="Muhammad's uncertainty about the message"
            loading="lazy"
            class="w-full md:w-3/4"
        />

        <p>
            I love to pair my Study Quran with my Study Bibles for that DLC fun.
        </p>

        <Image
            src={img37a}
            alt="Study Quran and Study Bible"
            loading="lazy"
            class="w-1/2 sm:w-1/3 md:w-1/4"
        />

        <p>
            Here's some cool facts a friend in Christ put together. There are <Link
                href="https://www.reddit.com/r/exmuslim/s/SWa6YPRDIT"
                newTab={true}>Mathematical errors regarding inheritance:</Link
            >
        </p>

        <Image
            src={img38}
            alt="Mathematical errors regarding inheritance"
            loading="lazy"
            class="w-full sm:w-1/2 md:w-1/3"
        />

        <p>
            Muhammad was immoral and the book is full of Immorality:
            <ul class="list-disc space-y-2">
                <li>
                    Sex Slavery <br />
                    <Link href="https://sunnah.com/muslim:1438a" newTab={true}>
                        <Image
                            src={img39}
                            alt="Immorality in Islamic texts"
                            loading="lazy"
                            class="w-full md:w-3/4 mt-2"
                        />
                    </Link>
                </li>

                <li>
                    Muhammad had a sex slave <br />
                    <Link
                        href="https://en.m.wikipedia.org/wiki/Rayhana_bint_Zayd"
                        newTab={true}
                    >
                        <Image
                            src={img40}
                            alt="Muhammad's sex slave Rayhana"
                            loading="lazy"
                            class="w-full md:w-3/4 mt-2 inline-block"
                        /></Link
                    >

                    <ul class="list-disc list-inside">
                        <li class="">Quran 4:3/ 3سورة النساء آ</li>

                        <li>Quran 33:55/ سورة الأحزاب آ50</li>

                        <li>Quran 23:6/ سورة المؤمنون آ6</li>

                        <li>Quran 24/58/ سورة النور آ58</li>

                        <li>Quran 33:50/ س</li>
                    </ul>
                </li>

                <li>
                    <Link
                        href="https://corpus.quran.com/translation.jsp?chapter=4&verse=34"
                        newTab={true}
                    >
                        Wife beating
                    </Link>
                    +
                    <Link href="https://sunnah.com/bukhari:304" newTab={true}>
                        Sexism
                    </Link>
                    <ul class="list-disc list-inside">
                        <li>Sura 4:11</li>
                        <li>Sura 2:282</li>
                        <li>Sura 2:223</li>
                        <li>Sura 4:24</li>
                    </ul>
                </li>

                <li>
                    Child marriage + Dolls + Virgins
                    <Link href="https://sunnah.com/bukhari:5134" newTab={true}>
                        <Image
                            src={img41}
                            alt="Child marriage in Islamic texts"
                            loading="lazy"
                            class="w-full md:w-3/4 mt-2 inline-block"
                        />
                    </Link>
                    <Link href="https://sunnah.com/bukhari:6130" newTab={true}>
                        <Image
                            src={img42}
                            alt="Dolls in Islamic texts"
                            loading="lazy"
                            class="w-full md:w-3/4 mt-2 inline-block"
                        />
                    </Link>
                    <Link href="https://sunnah.com/bukhari:5080" newTab={true}>
                        <Image
                            src={img43}
                            alt="Virgins in Islamic texts"
                            loading="lazy"
                            class="w-full md:w-3/4 mt-2 inline-block"
                        />
                    </Link>
                    <Link href="https://sunnah.com/bukhari:4788" newTab={true}>
                        <Image
                            src={img44}
                            alt="Virgins in Islamic texts"
                            loading="lazy"
                            class="w-full md:w-3/4 mt-2 inline-block"
                        />
                    </Link>
                </li>
                <li>
                    Death for Apostasy: <br />
                    <Link href="https://sunnah.com/nasai:4059" newTab={true}>
                        <Image
                            src={img45}
                            alt="Child marriage in Islamic texts"
                            loading="lazy"
                            class="w-full md:w-3/4 mt-2 inline-block"
                        />
                    </Link>

                    <Link href="https://sunnah.com/nasai:4058" newTab={true}>
                        <Image
                            src={img46}
                            alt="Child marriage in Islamic texts"
                            loading="lazy"
                            class="w-full md:w-3/4 mt-2 inline-block"
                        />
                    </Link>

                    <Link href="https://sunnah.com/nasai:4066" newTab={true}>
                        <Image
                            src={img47}
                            alt="Child marriage in Islamic texts"
                            loading="lazy"
                            class="w-full md:w-3/4 mt-2 inline-block"
                        />
                    </Link>
                </li>
            </ul>
        </p>
        <p>
            The Quran which is supposed to be the perfect literal words of God
            does not know the theology of Judaism.
        </p>

        <p>
            In the Quran it says that Jews believe that Ezra is the son of
            Allah. This belief was never mainstream at any point of history. You
            can try and claim “Well some Jews did at the time” But the verse
            literally says “Jews believe in the Son of Ezrah” Not “Some Jews”
        </p>

        <p>
            If you believed that in Judaism, you would be considered an
            apostate.
        </p>

        <p>
            The quran is supposed to be the perfect literal words of God. God is
            all knowing, so why did he say Jews believe that Ezra is the Son of
            Allah. Why didn't he criticize this very small "sect" of Judaism
            only found in this very specific area.
        </p>

        <p>
            <i>
                Surah At-Tawbah (9:30): "The Jews say, 'Ezra is the son of
                Allah,' while the Christians say, 'The Messiah is the son of
                Allah.' Such are their baseless assertions, only parroting the
                words of earlier disbelievers. May Allah condemn them! How can
                they be deluded ˹from the truth˺?"
            </i>
        </p>

        <p>
            hadith: <br />
            <i
                >"Then the Jews would be summoned, and it would be said to them:
                What did you worship? They will say: We worshipped 'Uzair, son
                of Allah. It would be said to them: You tell a lie; Allah had
                never had a spouse or a son. What do you want now? They would
                say: We feel thirsty, O our Lord! Quench our thirst. They would
                be directed (to a certain direction) and asked: Why don't you go
                there to drink water? Then they would be pushed towards the Fire
                (and they would find to their great dismay that) it was but a
                mirage (and the raging flames of fire) would be consuming one
                another, and they would fall into the Fire."</i
            >
        </p>

        <p>
            An Extremely Materialistic & Shallow Heaven that is centred on
            earthly pleasures:
            <ul class="list-disc space-y-2 pl-4">
                <li>
                    ⁠Descriptions of paradise often include vivid depictions of
                    physical pleasures, such as gardens, rivers of wine, and
                    luxurious accommodations.
                </li>
                <li>
                    ⁠The portrayal of virgins (houris) as rewards for male
                    believers.
                </li>
                <li>
                    ⁠The descriptions of paradise in Islamic scripture are often
                    rooted in the cultural and geographical context of early
                    Arabia. This includes imagery such as palm trees, flowing
                    water, and shaded gardens, which would have been familiar
                    and desirable to people living in the desert environment of
                    the Arabian Peninsula.
                </li>
            </ul>
        </p>

        <p>
            Christianity is the fulfillment of all other religions. Simply put,
            it’s the purest display of divinity that’s ever been revealed to
            mankind.
        </p>

        <p>
            Well since Islam
            <Link
                href="https://answeringislamblog.wordpress.com/2017/04/16/muhammad-proves-that-jesus-claimed-to-be-god/?fbclid=IwAR3IWBVnCRxMCIfyzcADHExzcyBiLUHSZc0b916fLLshnaUTp-IKZ6vfjgM_aem_AUNilzPUzhpc9YdIe2xWkzMC_dS10XoVuovbwEO7eO7fIx0EquvMLwlFpv9U_EHH-P0"
                newTab={true}
            >
                copies the Bible including a large section of Matthew 25 in
                their hadith qudsi
            </Link>
            we can at the very least cross that one off the list.
        </p>
    </section>
</article>
