---
import { Image } from "astro:assets";
import img206 from "../../assets/images/206.jpg";
import img207 from "../../assets/images/207.png";
import img208 from "../../assets/images/208.jpg";
import img209 from "../../assets/images/209.jpg";
import img210 from "../../assets/images/210.jpg";
import img211 from "../../assets/images/211.jpg";
import img212 from "../../assets/images/212.jpg";
import img213 from "../../assets/images/213.jpg";
import img214 from "../../assets/images/214.png";
import img215 from "../../assets/images/215.jpg";
import img216 from "../../assets/images/216.jpg";
import img217 from "../../assets/images/217.jpg";
import img218 from "../../assets/images/218.jpg";
import img219 from "../../assets/images/219.jpg";
import img220 from "../../assets/images/220.jpg";
import img221 from "../../assets/images/221.jpg";
import img222 from "../../assets/images/222.png";
import img223 from "../../assets/images/223.png";
import img224 from "../../assets/images/224.jpg";
import img225 from "../../assets/images/225.jpg";
import img226 from "../../assets/images/226.jpg";
import img227 from "../../assets/images/227.jpg";
import img228 from "../../assets/images/228.jpg";
import img229 from "../../assets/images/229.png";
import img230 from "../../assets/images/230.jpg";
import img231 from "../../assets/images/231.jpg";
import Verse from "../Verse.astro";
---

<article class="py-4 leading-loose" id="memorial">
    <h1 class="text-3xl mb-4 font-bold">Memorial Prayer</h1>
    <section class="space-y-4">
        <Image
            src={img206}
            alt="Memorial Prayer"
            loading="lazy"
            class="w-full md:w-1/2 lg:w-1/3"
        />

        <p>
            Lord of lords<br />

            God of gods<br />

            King of kings<br />

            God of the ages<br />

            Lord God King Creator Jesus Christ,<br />

            Through the prayers of your Beloved Mother, the Ever-Virgin Mary<br
            />

            Through the prayers of your Forerunner John the Baptist who called
            out as a voice in the wilderness<br />

            Through the prayers of your Apostle Peter<br />

            Through the prayers of your Apostle Matthew<br />

            Through the prayers of your Apostle John the Theologian<br />

            Through the prayers of your Apostle Andrew<br />

            Through the prayers of your Apostle Thomas<br />

            Through the prayers of your Apostle Bartholomew<br />

            Through the prayers of your Apostle Philip<br />

            Through the prayers of your Apostle Jude<br />

            Through the prayers of your Apostle James, son of Zebedee, the
            disciple whom Jesus loved<br />

            Through the prayers of your Apostle James, son of Alphaeus<br />

            Through the prayers of your Apostle Simon the Zealot<br />

            Through the prayers of your Apostle Matthias, the replacement for
            Judas<br />
        </p>
        <p>
            Please hear my prayer for the departed. Please have mercy on their
            souls<br />

            Let those without understanding come to understand the importance of
            praying for the reposed<br />
        </p>

        <p>
            Jesus Christ, the Savior who defeated death by death<br />

            Through the prayers of St. Mary of Egypt<br />

            Please remember Chris Kuyvenhoven - April 8, 1995 – January 25th,
            2019 in your Kingdom.<br />
        </p>

        <div class="flex flex-row space-x-2 md:w-2/3 lg:w-1/2">
            <Image
                src={img207}
                alt="Memorial image 207"
                loading="lazy"
                class="w-1/4 object-cover"
            />
            <Image
                src={img208}
                alt="Memorial image 208"
                loading="lazy"
                class="w-1/2 object-cover"
            />
            <Image
                src={img209}
                alt="Memorial image 209"
                loading="lazy"
                class="w-1/4 object-cover"
            />
        </div>

        <p>
            Through the prayers of Grand Duchess St. Elizabeth <br />

            Please remember Colin Bane - March 18th, 2005 – May 18th, 2022 in
            your Kingdom. #2
        </p>

        <div class="flex flex-row space-x-2 md:w-2/3 lg:w-1/2">
            <Image
                src={img210}
                alt="Memorial image 210"
                loading="lazy"
                class="w-1/2 object-cover"
            />
            <Image
                src={img211}
                alt="Memorial image 211"
                loading="lazy"
                class="w-1/4 object-cover"
            />
            <Image
                src={img212}
                alt="Memorial image 212"
                loading="lazy"
                class="w-1/4 object-cover"
            />
        </div>

        <p>
            Through the prayers of St. Panteleimon <br />

            Please remember Gregory Thomas - June 2, 1963 – January 15, 2024 in
            your Kingdom.
        </p>

        <div class="flex flex-row space-x-2 md:w-2/3 lg:w-1/2">
            <Image
                src={img213}
                alt="Memorial image 213"
                loading="lazy"
                class="w-1/3 object-cover"
            />
            <Image
                src={img214}
                alt="Memorial image 214"
                loading="lazy"
                class="w-1/3 object-cover"
            />
            <Image
                src={img215}
                alt="Memorial image 215"
                loading="lazy"
                class="w-1/3 object-cover"
            />
        </div>

        <p>
            Through the prayers of St. Euphemia <br />

            Please remember Janice Dziewulski – July 31st, 1949 – November 10th,
            2023 in your Kingdom.
        </p>

        <div class="flex flex-row space-x-2 md:w-2/3 lg:w-1/2">
            <Image
                src={img216}
                alt="Memorial image 216"
                loading="lazy"
                class="w-1/3 object-cover"
            />
            <Image
                src={img217}
                alt="Memorial image 217"
                loading="lazy"
                class="w-1/3 object-cover"
            />
            <Image
                src={img218}
                alt="Memorial image 218"
                loading="lazy"
                class="w-1/3 object-cover"
            />
        </div>

        <p>
            Through the prayers of St. Longinus <br />

            Please remember Billy Moore – December 15, 1998 – August 07, 2023 in
            your Kingdom
        </p>

        <div class="flex flex-row space-x-2 md:w-2/3 lg:w-1/2">
            <Image
                src={img219}
                alt="Memorial image 219"
                loading="lazy"
                class="w-1/2 object-cover"
            />

            <Image
                src={img220}
                alt="Memorial image 220"
                loading="lazy"
                class="w-1/4 object-cover"
            />

            <Image
                src={img221}
                alt="Memorial image 221"
                loading="lazy"
                class="w-1/4 object-cover"
            />
        </div>

        <p>
            Through the prayers of St. Nicholas the Wonderworker <br />
            Please remember Nick Van Atta – September 2nd, 1997 – August 8th, 2022
            in your Kingdom. LHT
        </p>

        <div class="flex flex-row space-x-2 md:w-2/3 lg:w-1/2">
            <Image
                src={img222}
                alt="Memorial image 222"
                loading="lazy"
                class="w-1/3 object-cover"
            />

            <Image
                src={img223}
                alt="Memorial image 223"
                loading="lazy"
                class="w-1/3 object-cover"
            />

            <Image
                src={img224}
                alt="Memorial image 224"
                loading="lazy"
                class="w-1/3 object-cover"
            />
        </div>

        <p>
            Through the prayers of St. Paisios <br />
            Please remember Christopher Roybal October 8th, 1988 – October 1st, 2017
            in your Kingdom
        </p>

        <div class="flex flex-row space-x-2 md:w-2/3 lg:w-1/2">
            <Image
                src={img225}
                alt="Memorial image 225"
                loading="lazy"
                class="w-1/3 object-cover"
            />

            <Image
                src={img226}
                alt="Memorial image 226"
                loading="lazy"
                class="w-1/3 object-cover"
            />

            <Image
                src={img227}
                alt="Memorial image 227"
                loading="lazy"
                class="w-1/3 object-cover"
            />
        </div>

        <p>
            GLORY TO JESUS CHRIST FOR ALL THINGS <br />
            AMEN AND AMEN FOREVER <br />
            To the families,
        </p>

        <Image
            src={img228}
            alt="Memorial image 228"
            loading="lazy"
            class="w-1/2 md:w-1/3 object-cover"
        />

        <p>
            REJOICE <br />
            JESUS CHRIST DIED AND ROSE AGAIN ON THE THIRD DAY
        </p>

        <iframe
            src="https://www.youtube.com/embed/XtwIT8JjddM?feature=oembed"
            title="YouTube video player"
            class="w-full lg:w-2/3 aspect-video"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
            loading="lazy"
        >
        </iframe>

        <p>Special thanks to Father David for teaching me the faith.</p>

        <Image
            src={img231}
            alt="Memorial image Father David"
            loading="lazy"
            class="w-1/2 md:w-1/3 object-cover"
        />

        <p>
            And special thanks to Sister Anastasia for supporting me with prayer
            while I write.
        </p>

        <iframe
            src="https://www.youtube.com/embed/ofFP-khbQPw?feature=oembed"
            title="YouTube video player"
            class="w-full lg:w-2/3 aspect-video"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
            loading="lazy"
        >
        </iframe>

        <p>
            If you want to support my ministry, please donate to the St.
            Elizabeth convert in Belarus, Minsk.
        </p>

        <Image
            src={img229}
            alt="Memorial image 229"
            loading="lazy"
            class="w-1/2 lg:w-1/3 object-cover"
        />

        <p>
            I am Zachary vs Revelation<br />
            I only believe in Jesus Christ<br />
            I do not believe in <br />
            Islam<br />
            Hinduism <br />
            Kundalini <br />
            Christ Consciousness <br />
            Freemasonry <br />
            Theosophy <br />
            Occult "paths" <br />
            Buddhism <br />
            Taoism<br />
            Jainism <br />
            Sikhism <br />
            Thelema <br />
            Wicca/Witchcraft <br />
            Voodoo/Santeria <br />
            Hermeticism/Hermes Trismegistus <br />
            Adventism <br />
            Mormonism <br />
            Scientology <br />
            New Age Movement <br />
            Gnosticism <br />
            Jehovah's Witness <br />
            Paganism<br />
            Atheism<br />
        </p>

        <Verse
            verse="Now grow up through the grace and knowledge of our Lord and Savior, Jesus Christ."
            reference="2 Peter 3:18"
        />

        <Image
            src={img230}
            alt="Memorial image 230"
            loading="lazy"
            class="w-1/2 object-cover mx-auto rounded-md shadow-md"
        />
    </section>
</article>
