---
import { Image } from "astro:assets";
import Scripture from "../Scripture.astro";
import Letter from "../Letter.astro";
import img15 from "../../assets/images/15.jpg";
import img16 from "../../assets/images/16.png";
import img17 from "../../assets/images/17.jpg";
import img18 from "../../assets/images/18.jpg";
import img19 from "../../assets/images/19.jpg";
import img20 from "../../assets/images/20.jpg";
import img21 from "../../assets/images/21.jpg";
import img22 from "../../assets/images/22.jpg";
import img23 from "../../assets/images/23.jpg";
import img24 from "../../assets/images/24.jpg";
import img25 from "../../assets/images/25.png";
import img26 from "../../assets/images/26.jpg";
import img27 from "../../assets/images/27.png";
import img28 from "../../assets/images/28.jpg";
import img29 from "../../assets/images/29.jpg";
import img30 from "../../assets/images/30.png";
import img31 from "../../assets/images/31.jpg";
import img32 from "../../assets/images/32.gif";
---

<article class="py-4 leading-loose" id="saints">
    <h1 class="text-3xl mb-4 font-bold">Testimony of the Saints</h1>
    <section class="space-y-4">
        <p>
            To honor my Lord and King and God Jesus Christ, <br
                class="hidden md:block"
            />

            I'll show you the testimony of the Saints. <br
                class="hidden md:block"
            />
        </p>

        <Image
            src={img15}
            alt="Saint George slaying the dragon"
            loading="lazy"
            class="w-1/2 md:w-1/3"
        />
        <p>
            The Saints are alive. Jesus Christ is a God of the living, not of
            the dead. <br class="hidden md:block" />
        </p>

        <Image
            src={img16}
            alt="Saint George slaying the dragon"
            loading="lazy"
            class="w-full lg:w-3/4"
        />

        <p>
            I thank Jesus Christ for my miracle by honoring Zacchaeus the Tax
            Collector. <br class="hidden md:block" />
            I try to pay everyone back four times with love.
        </p>

        <Scripture
            verses="Luke 19:1-10"
            heading="Jesus Comes to Zacchaeus' House"
            chapter="19"
            text="<p class='inline'>Then Jesus entered and passed through Jericho. 2 Now behold, there was a man named Zacchaeus who was a chief tax collector, and he was rich. 3 And he sought to see who Jesus was, but could not because of the crowd, for he was of short stature. 4 So he ran ahead and climbed up into a sycamore tree to see Him, for He was going to pass that way. 5 And when Jesus came to the place, He looked up [a]and saw him, and said to him, 'Zacchaeus, [b]make haste and come down, for today I must stay at your house.' 6 So he [c]made haste and came down, and received Him joyfully. 7 But when they saw it, they all [d]complained, saying, 'He has gone to be a guest with a man who is a sinner.' </p> <p> 8 Then Zacchaeus stood and said to the Lord, 'Look, Lord, I give half of my goods to the poor; and if I have taken anything from anyone by false accusation, I restore fourfold.' </p> <p> 9 And Jesus said to him, 'Today salvation has come to this house, because he also is a son of Abraham; 10 for the Son of Man has come to seek and to save that which was lost.' </p>"
        />

        <Image
            src={img17}
            alt="Saint George slaying the dragon"
            loading="lazy"
            class="w-1/2 lg:w-1/3"
        />

        <p>
            I write to honor the Prophet Zechariah. <br
                class="hidden md:block"
            />
            I thank Jesus Christ for John the Baptist by writing in honor of Zechariah
            and his wife St. Elizabeth. <br class="hidden md:block" />
        </p>

        <Scripture
            verses="Zechariah 1:1-6"
            heading="A Call to Return to the Lord"
            chapter="1"
            text="<p class='inline'> In the eighth month of the second year of Darius, the word of the Lord came to the prophet Zechariah son of Berekiah, the son of Iddo: 2 “The Lord was very angry with your ancestors. 3 Therefore tell the people: This is what the Lord Almighty says: 'Return to me,' declares the Lord Almighty, 'and I will return to you,' says the Lord Almighty. 4 Do not be like your ancestors, to whom the earlier prophets proclaimed: This is what the Lord Almighty says: 'Turn from your evil ways and your evil practices.' But they would not listen or pay attention to me, declares the Lord. 5 Where are your ancestors now? And the prophets, do they live forever? 6 But did not my words and my decrees, which I commanded my servants the prophets, overtake your ancestors? </p> <p> Then they repented and said, 'The Lord Almighty has done to us what our ways and practices deserve, just as he determined to do.'</p>"
        />

        <Image
            src={img18}
            alt="Saint George slaying the dragon"
            loading="lazy"
            class="w-1/3 md:w-1/4"
        />

        <Letter
            header="I wrote this letter to honor St. George the Great Martyr by showing you how to slay the Dragon through faith and prayer. "
        >
            <span>
                Of the many miracles worked by the holy Great Martyr George, the
                most famous are depicted in iconography. In the saint's native
                city of Beirut were many idol-worshippers. Outside the city,
                near Mount Lebanon, was a large lake, inhabited by an enormous
                dragon-like serpent. Coming out of the lake, it devoured people,
                and there was nothing anyone could do, since the breath from its
                nostrils poisoned the very air.
            </span>
            <span>
                On the advice of the demons inhabiting the idols, the local
                ruler came to a decision. Each day the people would draw lots to
                feed their own children to the serpent, and he promised to
                sacrifice his only daughter when his turn came. That time did
                come, and the ruler dressed her in her finest attire, then sent
                her off to the lake. The girl wept bitterly, awaiting her death.
                Unexpectedly for her, Saint George rode up on his horse with
                spear in hand. The girl implored him not to leave her, lest she
                perish.
            </span>

            <span>
                The saint signed himself with the Sign of the Cross. He rushed
                at the serpent saying, "In the Name of the Father and of the Son
                and of the Holy Spirit." Saint George pierced the throat of the
                serpent with his spear and trampled it with his horse. Then he
                told the girl to bind the serpent with her sash, and lead it
                into the city like a dog on a leash.
            </span>
            <span>
                The people fled in terror, but the saint halted them with the
                words: "Don't be afraid, but trust in the Lord Jesus Christ and
                believe in Him, since it is He Who sent me to save you." Then
                the saint killed the serpent with a sword, and the people burned
                it outside the city. Twenty-five thousand men, not counting
                women and children, were then baptized. Later, a church was
                built and dedicated to the Most Holy Theotokos and the Great
                Martyr George.
            </span>
        </Letter>

        <Image
            src={img19}
            alt="Saint George slaying the dragon"
            loading="lazy"
            class="w-1/3 md:w-1/4"
        />

        <Letter
            header="I wrote this letter to honor Martyr St. Christopher of Lydia by showing you that Jesus is the mightiest King. "
        >
            <span>
                Christopher once made a vow to serve the greatest king in the
                world, so he first offered to serve the local king. Seeing that
                the king feared the devil, Christopher thought he would leave
                the king to serve Satan. Learning that the devil feared Christ,
                Christopher went in search of Him. Saint Babylas of Antioch told
                him that he could best serve Christ by doing well the task for
                which he was best suited. Therefore, he became a ferryman,
                carrying people across a river on his shoulders. One stormy
                night, Christopher carried a Child Who insisted on being taken
                across at that very moment. With every step Christopher took,
                the Child seemed to become heavier. Halfway across the stream,
                Christopher felt that his strength would give out, and that he
                and the Child would be drowned in the river. As they reached the
                other side, the Child told him that he had just carried all the
                sins of the world on his shoulders. Then He ordered Christopher
                to plant his walking stick in the ground. As he did so, the
                stick grew into a giant tree. Then he recognized Christ, the
                King Whom he had vowed to serve.
            </span>
        </Letter>

        <Image
            src={img20}
            alt="Saint George slaying the dragon"
            loading="lazy"
            class="w-1/4"
        />

        <Letter
            header="I wrote this letter to honor St. Marina of Antioch by making showing you how to pick up your own hammer. "
        >
            <span>
                The peculiarity which distinguishes the Great Martyr Marina from
                other holy virgins, and even men, is that the girl made active
                physical resistance to Satan. After entering into single combat
                with him, Saint Marina continued to pray. Noticing a copper
                hammer lying in the corner of the dungeon, she grabbed it and
                began to beat Satan on the head with it, holding him by the
                horns, and stepping on his neck, Saint Marina said: "Depart from
                me, O lawless one."
            </span>
        </Letter>

        <Image
            src={img21}
            alt="Saint George slaying the dragon"
            loading="lazy"
            class="w-1/2 md:w-1/3"
        />

        <Letter
            header="I wrote this letter to convert sorcerers like in the story of St. Cyprian and St. Justina."
        >
            <span>
                People began to praise Christ, and to mock Cyprian and his
                sorcery. Convinced that the devil was powerless against the Sign
                of the Cross, and trembled at the name of Christ, Cyprian came
                to his senses and realized that he had been corrupted by
                becoming a sorcerer, and participating in every sort of
                wickedness, doing harm to others and deceiving them. He killed
                many with his spells and potions, and he murdered many men and
                women as sacrificial offerings to the demons. He was already a
                partaker of the portion of the demons, and if he had died at
                that moment, he would have been cast into the depths of Hell.
                The Lord, however, in His infinite compassion, saved him from
                the abyss.
            </span>
            <span>
                Saint Cyprian saw that the devil whom he served was afraid of
                Christ. The Evil One admitted that he was unable to conquer the
                maiden because he was afraid of "a certain sign" upon her.
            </span>
            <span>
                "If you take fright at even the mere shadow of the Cross and if
                the mere name of Christ makes you tremble," said Cyprian, "then
                what will you do when Christ Himself stands before you?"
            </span>
            <span>
                The devil then threw himself upon the pagan priest and attempted
                to beat and strangle him. For the first time, Saint Cyrian
                tested the power of the Sign of the Cross and the name of
                Christ, guarding himself from the fury of the Enemy. Afterward,
                he went to the local bishop Anthimos in profound repentance, and
                threw all of his books into the flames. The very next day, he
                went into the church, and did not want to leave it, even though
                he had not yet been baptized.
            </span>
            <span>
                By his efforts to follow after righteousness, Saint Cyprian
                understood the great power of faith in Christ, making up for
                more than thirty years of service to Satan. Seven days after his
                Baptism he was tonsured as a reader, on the twelfth day,
                subdeacon, on the thirtieth, deacon. After a year, he was
                ordained as a priest. Shortly after this, Saint Cyprian was
                elevated to the rank of bishop.
            </span>
        </Letter>

        <Image
            src={img22}
            alt="Saint George slaying the dragon"
            loading="lazy"
            class="w-1/3 md:w-1/4"
        />

        <Letter
            header="I used the books of other faiths to honor the great defender and Martyr of the faith, St. Paul."
        >
            <span>
                At first, he was called Saul, and had persecuted the Church. He
                was present at the stoning of Saint Stephen (Acts 7: 58). Then,
                on the road to Damascus, he was converted when Christ appeared
                to him. Blinded by the vision, he was healed when Ananias laid
                his hands on him. After his cure, he was baptized (Acts 9:18).
            </span>
            <span>
                Saint Paul preached the Gospel in Greece, Asia Minor, and in
                Rome, and wrote fourteen Epistles. Tradition says that he was
                martyred in Rome about the year 68.
            </span>
        </Letter>

        <Image
            src={img23}
            alt="Saint George slaying the dragon"
            loading="lazy"
            class="w-1/3 md:w-1/4"
        />

        <Letter
            header="And I also always move to honor my hero, the Golden Tongued Holy Hierarch St. John Chrysostom."
        >
            <span>
                The saintly hierarch denounced the dissolute morals of people in
                the capital, especially at the imperial court, irrespective of
                person. When the empress Eudoxia connived to confiscate the last
                properties of the widow and children of a disgraced dignitary,
                the saint rose to their defense. The arrogant empress would not
                relent, and nursed a grudge against the archpastor. Eudoxia's
                hatred of the saint blazed forth anew when malefactors told her
                that the saint apparently had her in mind during his sermon on
                vain women. A court was convened composed of hierarchs who had
                been justly condemned by Chrysostom: Theophilus of Alexandria,
                Bishop Severian of Gabala, who had been banished from the
                capital because of improprieties, and others.
            </span>
            <span>
                This court of judgment declared Saint John deposed, and that he
                be executed for his insult to the empress. The emperor decided
                on exile instead of execution. An angry crowd gathered at the
                church, resolved to defend their pastor. In order to avoid a
                riot, Saint John submitted to the authorities. That very night
                there was an earthquake at Constantinople. The terrified Eudoxia
                urgently requested the emperor to bring the saint back, and
                promptly sent a letter to the banished pastor, beseeching him to
                return. Once more, in the capital church, the saint praised the
                Lord in a short talk, "For All His Ways."
            </span>
        </Letter>

        <Image
            src={img24}
            alt="Saint John"
            loading="lazy"
            class="w-1/3 md:w-1/4"
        />

        <p>
            I write to honor the Great Martyr St. Irene who brought thousands
            and thousands to the Lord. <br class="hidden md:block" />
            I pray she blesses this project with a prayer to the Lord King God Jesus
            Christ.
        </p>

        <div
            class="flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-4 md:items-center"
        >
            <Image
                src={img25}
                alt="St. Irene"
                loading="lazy"
                class="w-full md:w-[85%] h-20 sm:h-28 md:h-32 object-cover"
            />
            <Image
                src={img26}
                alt="St. Irene"
                loading="lazy"
                class="w-1/3 sm:w-1/4 md:w-[15%] md:h-40 object-cover object-top"
            />
        </div>

        <Letter
            header="I write to honor my Patron Saint Holy Fool St. Xenia of St. Petersburg."
            subheading="I pray the Holy Fool can show you the Holy Wisdom of Jesus Christ.<br>From the Orthodox Church of America regarding the Russian Orthodox Saint."
        >
            <span>
                Once her earthly happiness ended, she did not look for it again.
                From that time forward, Xenia lost interest in the things of
                this world, and followed the difficult path of foolishness for
                the sake of Christ. The basis for this strange way of life is to
                be found in the first Epistle to the Corinthians (1 Cor.
                1:18-24, 1 Cor. 2:14, 1 Cor. 3:18-19). The Lord strengthened her
                and helped her to bear sorrow and misfortune patiently for the
                next forty-five years.
            </span>
            <span>
                She started wearing her husband's clothing, and insisted that
                she be addressed as "Andrew Feodorovich." She told people that
                it was she, and not her husband, who had died. In a certain
                sense, this was perfectly true. She abandoned her former way of
                life and experienced a spiritual rebirth. When she gave away her
                house and possessions to the poor, her relatives complained to
                the authorities. After speaking to Xenia, the officials were
                convinced that she was in her right mind and was entitled to
                dispose of her property as she saw fit. Soon she had nothing
                left for herself, so she wandered through the poor section of
                Petersburg with no place to lay her head. She refused all
                assistance from her relatives, happy to be free of worldly
                attachments.
            </span>
        </Letter>

        <Image
            src={img27}
            alt="St. Irene"
            loading="lazy"
            class="w-1/3 md:w-1/4"
        />

        <p>
            Pick up a Synaxarion or a Prologue of Ohrid to greatly strengthen
            your faith.
        </p>

        <div class="flex flex-row">
            <Image
                src={img28}
                alt="Image 28"
                loading="lazy"
                class="w-1/2 object-cover"
            />
            <Image
                src={img29}
                alt="Image 29"
                loading="lazy"
                class="w-1/2 object-cover"
            />
        </div>

        <p>
            The name Raphael means “God heals.” Raphael was made by Jesus Christ
            for Jesus Christ. He stands in great glory among the seven
            Archangels before the throne of the Most High.
        </p>

        <p>
            Raphael is one of the seven Archangels, and he is the Patron Saint
            of love, healing, the youth, travelers, physicians and more. Many
            readers may be new to Christianity, or they may not know who Raphael
            is so I’ll start with some Mother Alexandra.
        </p>

        <div class="flex flex-col lg:flex-row">
            <Image
                src={img30}
                alt="Image 30"
                loading="lazy"
                class="object-cover w-full lg:w-[70%] lg:mb-0"
            />
            <div class="flex flex-row lg:w-[30%] sm:w-1/2">
                <Image
                    src={img31}
                    alt="Image 31"
                    loading="lazy"
                    class="w-1/2 object-cover"
                />
                <Image
                    src={img32}
                    alt="Image 32"
                    loading="lazy"
                    class="w-1/2 object-cover"
                />
            </div>
        </div>

        <p>I wrote this letter so that I may Praise God.</p>

        <Scripture
            verses="Tobit 12:6-15"
            text="<p class='inline'>6 Then Raphael called the two men aside and said to them, Praise God and tell everyone about the good things he has done for you, so that they too will honor him and sing his praises. Let everyone know what God has done. Never stop praising him.</p> <p>7 It's a good idea to keep a king's secret, but what God does should be told everywhere, so that he may be praised and honored.</p> <p>If you do good, no harm will come to you.</p> <p>8 It is better to pray sincerely and to please God by helping the poor than to be rich and dishonest. It is better to give to the poor than to store up gold. 9 Such generosity will save you from death and will wash away all your sins. Those who give to the poor will live full lives, 10 but those who live a life of sin and wickedness are their own worst enemies.</p> <p>11 I have already told you that a king's secret ought to be kept, but the things God does should be told to everyone. Now I will reveal to you the full truth and keep nothing back. 12 Tobit, when you and Sarah prayed to the Lord, I was the one who brought your prayers into his glorious presence. I did the same thing each time you buried the dead. 13 On the day you got up from the table without eating your meal in order to bury that corpse, God sent me to test you. 14 But he also sent me to cure you and to rescue your daughter-in-law, Sarah, from her troubles. 15 I am Raphael, one of the seven angels who stand in the glorious presence of the Lord, ready to serve him."
        />

        <p>
            My crusade is one of peace and the beauty of language. <br
                class="hidden md:block"
            /> I write so that we may all know the eternal peace offered in Jesus
            Christ. <br class="hidden md:block" /> I wanted to heal my relationship
            with God and part of that is leading others to the faith. <br
                class="hidden md:block"
            /> I will now show you a prayer. Through this prayer I will show you
            the Christian faith. <br class="hidden md:block" /> I will show you the
            countless acts of testimony for Christ that exist across all times and
            races and peoples. <br class="hidden md:block" /> I endeavored to put
            2000 years of Church History into one single prayer. <br
                class="hidden md:block"
            /> I endeavored to add as many people as I could from the Bible and Church
            Tradition as well. <br class="hidden md:block" /> Through prayer you
            can learn and gain much as your faith and knowledge blossom like a flower.
            <br class="hidden md:block" /> I’m going on a Crusade right to Jesus
            Christ and I’m trying to bring everyone with me. <br /> Now let’s pray
            before we begin <br /> Lord of lords <br /> God of gods <br /> King of
            kings <br /> God of all ages <br /> Lord God King Creator Jesus Christ
            <br class="hidden md:block" />
            The throne of Thy glory standeth unto all the generations of the ages,
            and Thy name holy and glorious and blessed unto all the ages! <br />
            Through the prayers of the Ever-Virgin Mary of Nazareth, daughter of
            Joachim and Anna <br /> Through the prayers of John the Forerunner, son
            of Zechariah and Elizabeth, the voice calling out from the wilderness
            <br /> Through the prayers of Abraham, Isaac, and Jacob, the three earthly
            fathers of our faith
            <br /> Through the prayers of Moses, Elijah, and Enoch, the three prophets
            whose bodies the devil could not obtain
            <br /> Through the prayers of Paul, Luke, and Mark, three of many who
            spread the New Testament to all <br /> Through the prayers of Daniel,
            Isaiah, and Ezekiel, three of many Old Testament Prophets <br /> Through
            the prayers of David, Hezekiah, and Asa, three of many Old Testament
            Kings <br /> Through the prayers of Deborah, Gideon, and, Ehud, three
            of twelve Judges <br /> Through the prayers of Michael, Gabrael, and
            Raphael, three of seven Archangels Through the prayers of Tobias, Sarah,
            and Tobit, three of many saved by the Angels <br />
            Through the prayers of St. Peter, St. James, and St. John, the three
            who witnessed the Transfiguration
            <br />
            Through the prayers of St. Matthew, St. Thomas, and St. Philip, three
            of the twelve Apostles
            <br />
            Through the prayers of St. Zacchaeus, St. Nathanael, and St. Aristarchus,
            three of the Seventy Apostles
            <br />
            Through the prayers of St Augustine, St. Jerome, and St. Ambrose, three
            of the four Great Latin Fathers
            <br />
            Through the prayers of St. Stephen, St. George, and St. Longinus, three
            of many male Great Martyrs for Christ
            <br />
            Through the prayers of St. Nicholas of Myra, St. Elizabeth of Constantinople,
            and St. Memnon, three of many Wonderworkers
            <br />
            Through the prayers of St. John Chrysostom, St. Gregory of Nazianzus,
            and St. Basil the Great, three Holy Hierarchs of the Church
            <br />
            Through the prayers of St. Athanasius, St. Thomas Aquinas, and St. John
            of Damascus, three of many Theologians of the Church
            <br />
            Through the prayers of St. Ignatius, St. Euphemia, and St. Telemakhos,
            three Saints who died in the Colosseum
            <br />
            Through the prayers of St. Euphemia, St. Paraskevi, and St. Catherine
            of Alexandria, three of many female Great Martyrs
            <br />
            Through the prayers of St. Panteleimon, St. Cosmas and St Damian, three
            of many Unmercenary Physicians
            <br />
            Through the prayers of St. Andrew, St. Xenia of St. Petersburg, and St.
            Basil the Fool, three of many Holy Fools
            <br />
            Through the prayers of St. Anthony, St. Onuphrius, and St. Zeno, three
            of many Desert Fathers
            <br />
            Through the prayers of St. Zoe, St. Nicostratus, and St. Tiburtius, three
            of many who followed St. Sebastian to his martyrdom
            <br />
            Through the prayers of St. Zacharias, St. Elizabeth, and St. Lazarus,
            three of many Holy New Martyrs
            <br />
            Through the prayers of St. Paisios, St. Porphyrios, and St. Silouan,
            three modern day Saints of Mount Athos
            <br />
            Through the prayers of St. Herman, St. Olga, and St. Innocent, three
            modern-day Saints who shine as a light from Alaska
            <br />
            Through the prayers of St. Padre Pio, St Marina of the Five Wounds, and
            St. Francis of Assisi, three who received the stigmata
            <br />
            And through the prayers of all Saints and Angels and all Christians who
            have ever walked the face of the Earth <br /> LORD KING GOD JESUS CHRIST
            <br /> HAVE MERCY ON ME A SINNER AMEN AND AMEN FOREVER
        </p>
    </section>
</article>
