---
import { Image } from "astro:assets";
import Video from "../Video.astro";
import Scripture from "../Scripture.astro";
import img83 from "../../assets/images/83.jpg";
import img84 from "../../assets/images/84.jpg";
import img85 from "../../assets/images/85.jpg";
import img86 from "../../assets/images/86.jpg";
import img87 from "../../assets/images/87.jpg";
import img88 from "../../assets/images/88.jpg";
import img89 from "../../assets/images/89.png";
import img90 from "../../assets/images/90.jpg";
import img91 from "../../assets/images/91.jpg";
import img92 from "../../assets/images/92.png";
import img93 from "../../assets/images/93.png";
import img94 from "../../assets/images/94.png";
import img95 from "../../assets/images/95.png";
import img96 from "../../assets/images/96.png";
import img97 from "../../assets/images/97.png";
import img98 from "../../assets/images/98.png";
import img99 from "../../assets/images/99.png";
import img100 from "../../assets/images/100.png";
import img101 from "../../assets/images/101.png";
import img102 from "../../assets/images/102.png";
import howGetInThere from "../../assets/gifs/how-get-in-there.gif";
import topGun from "../../assets/gifs/top-gun-top-gun-maverick.gif";
---

<article class="py-4 leading-loose" id="thelema">
    <h1 class="text-3xl mb-4 font-bold">
        On Thelema with Crusaders Fr. Chad Ripperger and Archbishop Daniel
    </h1>
    <section class="space-y-4">
        <p>
            The Book of the Law written by Aleister Crowley is the main source
            text of Thelema.
            <br class="hidden md:block" />
            Watch Atem play the Seal of Orichalcos in his duel against Rafael.
        </p>

        <Video src="https://www.youtube.com/embed/SPztW1Jy_KA?feature=oembed" />

        <div class="flex flex-row lg:w-1/2">
            <Image src={img83} alt="Image 83" loading="lazy" class="w-1/2" />
            <Image src={img84} alt="Image 84" loading="lazy" class="w-1/2" />
        </div>

        <p>
            There was even a character in Yu-Gi-Oh named after Crowley. (You see
            why I use Yu-Gi-Oh memes now?)
        </p>

        <Image src={howGetInThere} alt="How to get in there" loading="lazy" />

        <p>
            Even the very name of Crowley’s work is an inversion of the biblical
            Book of the Law
        </p>

        <div>
            <p>This sure isn’t the Book of the Law described in Joshua:</p>
            <Scripture
                verses="Joshua 1:8"
                text="Keep this Book of the Law always on your lips; meditate on it day and night, so that you may be careful to do everything written in it. Then you will be prosperous and successful."
            />
        </div>

        <p>
            Time for this Zoomer to zoom zoom into the Quiploth.
            <br class="hidden md:block" />
            It’s time to light up the darkness and allow Truth to overcome deception.
            <br class="hidden md:block" />
            You might want to grab a torch. It gets dark with this one.
        </p>

        <Image
            src={img85}
            alt="image85"
            class="w-full md:w-1/2 lg:w-1/3"
            loading="lazy"
        />

        <Video src="https://www.youtube.com/embed/fCWhP3EPiv8?feature=oembed" />

        <p>
            I think it’s time we send Crowley’s Aiwass back to the graveyard
            where he belongs.
            <br class="hidden md:block" />
            Let’s expose another false god for the glory of the One True God Jesus
            Christ.
            <br class="hidden md:block" />
            I never grow tired of showing the occultists my sting.
            <br class="hidden md:block" />
            But first let’s hear some words from Catholic Exorcist Fr. Chad Ripperger
            of the Augustine Institute.
        </p>

        <Video src="https://www.youtube.com/embed/ls92Wiptv0w?feature=oembed" />

        <p>
            Faith and fear cannot coexist.
            <br class="hidden md:block" />
            I only maintain fear of God which makes me fearless too.
            <br class="hidden md:block" />
            I believe Satan has a time limit imposed by Jesus Christ when he/they
            manifest outside of a body.
            <br class="hidden md:block" />
            (Note: to the reader that Satan is a title and does not refer to a singular
            being).
            <br class="hidden md:block" />
            I also believe this time limit shortens when a fallen spirit seeks to
            combine split forms into one.
            <br class="hidden md:block" />
            You’ll also note how the king demon Asmodeus has three heads.
            <br class="hidden md:block" />
            Three heads that attack the All-Powerful Most-Merciful Trinity.
        </p>

        <div class="flex flex-row lg:w-3/4">
            <Image src={img86} alt="image86" class="w-1/3" loading="lazy" />
            <Image src={img87} alt="image87" class="w-1/3" loading="lazy" />
            <Image src={img88} alt="image88" class="w-1/3" loading="lazy" />
        </div>

        <p>
            But I’ll let you be the judge Fr. Ripperger.
            <br class="hidden md:block" />
            Because you are the one who taught me the father of lies inverts the
            Almighty Uncreated Father.
            <br class="hidden md:block" />
            The one who taught me lucifer inverts the Light of Jesus Christ.
            <br class="hidden md:block" />
            The one who taught me belzeebub inverts the Life-Giving Holy Spirit.
            <br class="hidden md:block" />
            One in attack, three in personality. United in pride. United in defeat.
            <br class="hidden md:block" />
            Defeat is what happens to all who try to stand against the Life-Creating
            Trinity.
            <br class="hidden md:block" />
            If Satan attacks once, he will often attack three times.
            <br class="hidden md:block" />
            Three different forms. Three different manifestations. Three different
            inversions.
            <br class="hidden md:block" />
            He will try to enter as the false lightbringer at the base of the spine
            (remember 33 vertebrae).
        </p>

        <Scripture
            verses="Luke 22:31"
            text="3 Then Satan entered Judas, called Iscariot, one of the Twelve."
        />

        <Scripture
            verses="John 13:27"
            text="27 As soon as Judas took the bread, Satan entered into him. So Jesus told him, “What you are about to do, do quickly."
        />

        <p>
            Say “In the name of the Father, Son, and Holy Spirit” and you’re
            safe.
            <br class="hidden md:block" />
            He can also be defended against with the name of Jesus Christ.
            <br class="hidden md:block" />
            To Archbishop Daniel of the OCA,
            <br class="hidden md:block" />
            You already know I’m cheesin’ whenever I see an Archbishop.
        </p>

        <Image
            src={img89}
            alt="image89"
            class="lg:w-1/6 md:w-1/4 w-2/5"
            loading="lazy"
        />

        <p>
            Fr. Daniel (not Daniel vs Bablyon but than again, I wouldn’t know 😊
            ) is an Apostolic Priest with a beautiful singing voice.
        </p>

        <Image
            src={img90}
            alt="image90"
            class="md:w-1/2 w-full"
            loading="lazy"
        />

        <p>
            I heard your words when you said that layman should spread the
            gospel too.
            <br class="hidden md:block" />
            I’ll fly for you anytime sir.
            <br class="hidden md:block" />
            Here’s my flight hat while I work on my picture book.
        </p>

        <Image
            src={img91}
            alt="image91"
            class="lg:w-1/5 md:w-1/4 w-1/2"
            loading="lazy"
        />

        <p>
            I dance like David before the ark when I hear Archbishop Daniel sing
            Psalms.
        </p>

        <Scripture
            verses="2 Samuel 6:14-15"
            text="14 Then David danced[a] before the Lord with all his might; and David was wearing a linen ephod. 15 So David and all the house of Israel brought up the ark of the Lord with shouting and with the sound of the trumpet."
        />

        <p>
            So to follow your command sir, I now take to the air in honor of Fr.
            Ripperger and Archbishop Daniel.
            <br class="hidden md:block" />
            You already know we all fly as one.
        </p>

        <Image
            src={topGun}
            alt="Top Gun Maverick"
            class="md:w-1/3 w-full"
            loading="lazy"
        />

        <Image
            src={img92}
            alt="image92"
            class="md:w-2/3 w-full"
            loading="lazy"
        />

        <p>Further elucidated</p>

        <Image
            src={img93}
            alt="image93"
            class="md:w-1/2 w-full"
            loading="lazy"
        />
    </section>
</article>
