---
interface Props {
  verses: string;
  heading?: string;
  chapter?: string;
  text: string;
}

const { verses, heading, chapter, text } = Astro.props;

function toSuperscript(text: string): string {
    return text.replace(/(\d+)/g, "<sup>$1</sup>").replace(/\[.\]/g, "");
}
---

<blockquote
    class="bg-amber-50 dark:bg-neutral-800 px-4 py-2 border-l-4 border-amber-300 rounded shadow-md dark:border-gray-500"
>
    {
        heading ? (
                <p class="text-center text-sm text-gray-600 dark:text-gray-300 mb-2">
                    {verses}
                </p>
                <h3 class="font-bold text-lg mb-2 text-center dark:text-zinc-200">
                    {heading}
                </h3>
        ) : (
            <h3 class="font-bold text-lg mb-2 text-center dark:text-zinc-200">
                {verses}
            </h3>
        )
    }
    <div class="italic dark:text-gray-300 space-y-2">
        {chapter && (
            <span class="font-bold dark:text-zinc-200 mr-1">{chapter}</span>
        )}
        <span set:html={toSuperscript(text)} />
    </div>
</blockquote>
